.div1 {
    background-color: rgb(43, 46, 45);
    display: grid;
    grid-template-areas:
    "h1 h2 h3"
    "h4 h5 h6"
    ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100vw;
    height: 30vh;
}
.header1 {
    grid-area: h1;
}
.header2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: h2;
    font-size: 96px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header3 {
    grid-area: h3;
}
.header4 {
    grid-area: h4;
}
.header5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    grid-area: h5;
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.header6 {
    grid-area: h6;
}
.div2 {
    display: grid;
    width: 100vw;
    height: 10vh;
    grid-template-areas: 
    "n1 n2 n3 n4 n5"
    ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    background-image: linear-gradient(to right, white, grey);

}
.nav1 {
    grid-area: n1;
    background-color: rgb(39, 41, 40);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.nav2 {
    grid-area: n2;
    background-color: rgb(39, 41, 40);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.nav3 {
    grid-area: n3;
    background-color: rgb(39, 41, 40);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.nav4 {
    grid-area: n4;
    background-color: rgb(39, 41, 40);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.nav5 {
    grid-area: n5;
    background-color: rgb(39, 41, 40);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.div3 {
    display: grid;
    width: 100vw;
    height: 66vh;
    grid-template-areas: 
    "a1 a2"
    "a1 a3"
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    background-image: linear-gradient(to right, white, grey);
    grid-gap: 2px;
}
.article1 {
    grid-area: a1;
    background-image: url(../img/AdobeStock_141630066-600x401.jpeg);
    background-repeat: no-repeat;
    border-radius: 20px;
}
.article2 {
    grid-area: a2;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.article3 {
    grid-area: a3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
* {
    margin: 0;
}
.div4 {
    display: grid;
    width: 100vw;
    height: 66vh;
    grid-template-areas: 
    "a5 a4"
    "a6 a4"
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    background-image: linear-gradient(to right, white, grey);
    grid-gap: 2px;
}
.article4 {
    grid-area: a4;
    background-image: url(../img/Juicy_Vegan_Burger_Urban_deli.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
}
.article5 {
    grid-area: a5;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.article6 {
    grid-area: a6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
.div5 {
    display: grid;
    width: 100vw;
    height: 66vh;
    grid-template-areas: 
    "a8 a9"
    "a8 a10"
    ;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-image: linear-gradient(to right, white, grey);
    grid-gap: 2px;
}

.article8 {
    grid-area: a8;
    background-image: url(../img/2eac59376a8e4a53fd29c6436082b7ec.jpg);
    background-repeat: no-repeat;
    border-radius: 20px;
}
.article9 {
    grid-area: a9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.article10 {
    grid-area: a10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
.div6 {
    background-color: rgb(43, 46, 45);
    border-radius: 10px;
    display: grid;
    grid-template-areas:
    "s1 s2 s3"
    ;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100vw;
    height: 30vh;
}
.section1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section2 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section3 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer {
    background-color: black;
    color: white;
    width: 100vw;
    height: 10vh;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}